.game {
  display: flex;
  align-items: center;

  &__id {
    padding-right: 10px;
  }

  &__teams{
    padding-right: 10px;
    display: flex;
  }

  &__team{
    &:first-child {
      &::after {
        content: '-';
        display: inline-block;
        padding: 0 5px;
      }
    }
  }

  &__control{
    padding-right: 10px;
  }

  &__result {

  }
}