.containter {
  display: block;
  max-width: $container-width;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: $gutter;
  margin-left: $gutter;
  flex-direction: row;

  &--reverse {
    flex-direction: row-reverse;
  }

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }

  @include generate-cols(12);
}
