html {
  font-size: 14px; }

body {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.3;
  background-color: #fff;
  overflow-x: hidden; }
  @media (min-width: 720px) {
    body {
      overflow-x: visible; } }

.containter {
  max-width: 100%;
  margin: auto; }

.row {
  flex-direction: row; }
  .row--reverse {
    flex-direction: row-reverse; }
